nodeRedApp
[{"id":"d3c7a51d.eb4d2","type":"slackbot-listen","z":"7223d704.40eb98","slackbot":"e52da2ae.d061b8","name":"diabetesbot","x":201.4126739501953,"y":76.02381896972656,"wires":[["328f984c.f4d77","99865f18.b428c8"]]},{"id":"6fbc9a79.334c64","type":"slackbot-reply","z":"7223d704.40eb98","slackbot":"ef01f504.24b38","name":"diabetesbot","x":1149.7265625,"y":235.0357437133789,"wires":[]},{"id":"661f70cf.484548","type":"watson-conversation-v1","z":"7223d704.40eb98","name":"WA Workspace","workspaceid":"496f3fe0-7264-4774-850c-1c7f313389ae","multiuser":true,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":425.49608612060547,"y":236.54758834838867,"wires":[["20e541ca.dc7d0e","63c0f2b5.5d18fc","99865f18.b428c8"]]},{"id":"63c0f2b5.5d18fc","type":"switch","z":"7223d704.40eb98","name":"","property":"payload.context.Age","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":247.0038604736328,"y":366.150842666626,"wires":[["8e77d2b0.131338"]]},{"id":"96435e77.348188","type":"http request","z":"7223d704.40eb98","name":"","method":"POST","ret":"obj","url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/85ed9882-9243-4cf1-8a30-30702d99fab4/deployments/9c59b081-717b-439e-b62b-15224cb45c89/online","tls":"","x":630.8925476074219,"y":523.5714378356934,"wires":[["803f937.d83667","99865f18.b428c8"]]},{"id":"20e541ca.dc7d0e","type":"function","z":"7223d704.40eb98","name":"Compile WA result","func":"// Concatenate the array if there \n// is more than one item\nif(msg.payload.output.text.length > 0) {\n    response = msg.payload.output.text.join();\n} else {\n    response = \"[No Response from Watson Assistant]\";\n}\n\n// Set the data we need in the payload for the\n// template to pick up\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"x":708.4721755981445,"y":236.80552864074707,"wires":[["6fbc9a79.334c64"]]},{"id":"328f984c.f4d77","type":"function","z":"7223d704.40eb98","name":"Set User ID","func":"msg.user = \"fmlin02\";\nreturn msg;","outputs":1,"noerr":0,"x":412.4206352233887,"y":150.97224044799805,"wires":[["661f70cf.484548"]]},{"id":"8e77d2b0.131338","type":"function","z":"7223d704.40eb98","name":"Build Request message","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ0ZW5hbnRJZCI6Ijg1ZWQ5ODgyLTkyNDMtNGNmMS04YTMwLTMwNzAyZDk5ZmFiNCIsImluc3RhbmNlSWQiOiI4NWVkOTg4Mi05MjQzLTRjZjEtOGEzMC0zMDcwMmQ5OWZhYjQiLCJwbGFuSWQiOiIzZjZhY2Y0My1lZGU4LTQxM2EtYWM2OS1mOGFmM2JiMGNiZmUiLCJyZWdpb24iOiJ1cy1zb3V0aCIsInVzZXJJZCI6IjFhMWEyODdmLTNkNGMtNDQ0NS1hYTIxLWQ2ODM3OTk3MDRhNyIsImlzcyI6Imh0dHBzOi8vdXMtc291dGgubWwuY2xvdWQuaWJtLmNvbS92My9pZGVudGl0eSIsImlhdCI6MTU0ODM1ODM5MywiZXhwIjoxNTQ4Mzg3MTkzLCJjcmVhdGVkVGltZSI6MTU0ODM1ODM5M30.UXUDVXzDZjgaEnb3pRRDHYwDhkoaquq8uJpdYp-ZMJx_8Guyla7cV5mE7avE6k66CJHyZoS5GtMTpPEplFo7EWX2VJiP6VApDO6wJReNBaQnyw-DjXXlk309h28zSlUuZS0oPkIPeiSXnyzAnTEfiQMk8gRkOnk3N3BJO4wg_s39XYugPrhZ5l3EXg8KcFNBGCnhEbsdN1Sz7teOlXneN5BVKZdmKR7BuPc3WV4Oi23lb52mI67uGeSeg9cHp08pC5C7-7Z9X3qCVCbXMCL1RjV_Te_E5NngH6wB9SgKGxyci1jZLkLdE6VWAF1zoznAbtqOJaOU6xaZRKYup99u2g';\n\nvar Pregnancies = msg.payload.context.Pregnancies;\nvar Glucose = msg.payload.context.Glucose;\nvar BloodPressure = msg.payload.context.BloodPressure;\nvar SkinThickness = msg.payload.context.SkinThickness;\nvar Insulin = msg.payload.context.Insulin;\nvar BMI = msg.payload.context.BMI;\nvar PedigreeFunction = msg.payload.context.PedigreeFunction;\nvar Age = msg.payload.context.Age;\n\nmsg.payload = { \"fields\":\n[\"Pregnancies\", \n\"Glucose\", \n\"BloodPressure\", \n\"SkinThickness\", \n\"Insulin\", \n\"BMI\", \n\"DiabetesPedigreeFunction\", \n\"Age\"],\"values\":[[\n    Pregnancies,\n    Glucose,\n    BloodPressure,\n    SkinThickness,\n    Insulin,\n    BMI,\n    PedigreeFunction,\n    Age]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":364.2460632324219,"y":468.5515537261963,"wires":[["96435e77.348188","99865f18.b428c8"]]},{"id":"803f937.d83667","type":"change","z":"7223d704.40eb98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"You have non-diabetes probability is: \" & msg.payload.values[0][10][0] & '\\n' & \t\"You have diabetes probability is: \" & msg.payload.values[0][10][1]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900.2380599975586,"y":524.1666870117188,"wires":[["6fbc9a79.334c64","99865f18.b428c8"]]},{"id":"99865f18.b428c8","type":"debug","z":"7223d704.40eb98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":952.6785736083984,"y":66.96429252624512,"wires":[]},{"id":"e52da2ae.d061b8","type":"slackbot-controller","z":"","name":"diabetesbot","bot_token":"xoxb-402127784900-530602111941-vnA4hTt6YEbAEyQwjKzMz0i4"},{"id":"ef01f504.24b38","type":"slackbot-controller","z":"","name":"diabetesbot","bot_token":"xoxb-402127784900-530602111941-vnA4hTt6YEbAEyQwjKzMz0i4"}]
